/* body, html, #root {
     margin: 0;
     padding: 0;
     height: 100%;
   } */

input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden !important;
  display: none !important;
}

input::-webkit-textfield-decoration-container {
  display: none !important;
}

.ag-header-bold {
  font-weight: bold !important;
}

